* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: left;
    text-shadow: 5px;
    font-size: 2rem;
    color: rgb(255, 116, 146);
    position: absolute;
    left: 2%;
    top: 1%;
    font-family: 'Bree Serif', serif;
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    z-index: 20;
    padding: 10px;
}

nav {
    max-width: 600px;
    margin: auto;
    font-size: 15px;
    margin-top: 50px;
    color: black;
}

.MenuH {
    position: absolute;
    z-index: 20;
    top: 2.5%;
    left: 33.5%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.MenuH>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;

}

.MenuH>li:hover {
    background-color: rgb(228, 228, 228);
}

.MenuV {
    position: absolute;
    z-index: 20;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(255, 255, 255);
}

.MenuH li:hover .MenuV {
    display: block;
}

.MenuV li:hover {
    background-color: rgb(228, 228, 228);
}

.MenuV li a {
    display: block;
    padding: 15px 15px 15px 20px;
    text-decoration: none;

}

.MenuInde {
    font-family: 'Courier New', Courier, monospace;
}

.medias {
    position: absolute;
    top: 1.5%;
    left: 94%;
    margin: auto;
    width: 100px;
    z-index: 20;
    padding: 10px;
}

.Artist1 {
    margin: 10px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 15%;
}

.img1 {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.img1:hover {
    transform: scale(1.2);
    opacity: 0.60;
}

.Artist2 {
    margin: 10px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 33%;
}

.img2 {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.img2:hover {
    transform: scale(1.2);
    opacity: 0.60;
}

.Artist3 {
    margin: 10px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 51%;
}

.img3 {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.img3:hover {
    transform: scale(1.2);
    opacity: 0.60;
}

.Artist4 {
    margin: 10px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 69%;
}

.img4{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.img4:hover {
    transform: scale(1.2);
    opacity: 0.60;
}
.FivethOne{
    margin: 10px;
    position: absolute;
    top: 55%;
    left: 15%;
    transition: 0.5s;
}

.FivethOne:hover{
    transform: scale(1.2);
    opacity: 0.6;
}

.six{
    margin: 10px;
    position: absolute;
    top: 55%;
    left: 33%;
    transition: 0.5s;
}

.six:hover{
    transform: scale(1.2);
    opacity: 0.6;
}

.seven{
    margin: 10px;
    position: absolute;
    top: 55%;
    left: 51%;
    transition: 0.5s;
}

.seven:hover{
    transform: scale(1.2);
    opacity: 0.6;
}

.eight{
    margin: 10px;
    position: absolute;
    top: 55%;
    left: 69%;
    transition: 0.5s;
}

.eight:hover{
    transform: scale(1.2);
    opacity: 0.6;
}




